body {
    background-color: #363532;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

#principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
}

#pontuacao {
    width: 500px;
    height: 70px;
    display: flex;
    flex-flow: wrap;
    background-color: #4a752c;
    border-radius: 5px 5px 0px 0px; 
}

.caixa {
	width: 100px;
	height: 50px;
    margin: auto;
    display: flex;
}

.caixaPontuacao {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#relogio {
    width: 42px;
    height: 42px;
    margin-top: 5px;
}

#campo {
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: wrap;
}

.q {
	width: 50px;
	height: 50px;
    background-size: 100%;
    display: flex;
    flex-flow: wrap;  
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.q:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 2px 2px 5px 1px rgba(23, 68, 12, 0.205);
}

.grama1 {background-color: #acd754;}
.grama2 {background-color: #A4CF49;}
.terra1 {background-color: #e4c0a0;}
.terra2 {background-color: #d9b899}
.vermelho {background-color: red}

.bandeira {background-image: url('https://cdn-icons-png.flaticon.com/512/395/395841.png');}
.pa {background-image: url('https://cdn-icons.flaticon.com/png/512/4109/premium/4109787.png?token=exp=1638886264~hmac=5605f44c42eafd0f89e723d70e950096');}