body {
    background-color: #363532;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

#principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
}

#pontuacao {
    width: 500px;
    height: 70px;
    display: flex;
    flex-flow: wrap;
    background-color: #4a752c;
    border-radius: 5px 5px 0px 0px; 
}

.caixa {
	width: 100px;
	height: 50px;
    margin: auto;
    display: flex;
}

.caixaPontuacao {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#relogio {
    width: 42px;
    height: 42px;
    margin-top: 5px;
}

#campo {
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.q {
	width: 50px;
	height: 50px;
    background-size: 100%;
    display: flex;
    flex-flow: wrap;  
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
}

.q:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 2px 2px 5px 1px rgba(23, 68, 12, 0.205);
}

.fim-de-jogo {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    flex-direction: row;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #4a752c;
    box-shadow: 3px 3px 7px 0px rgba(23, 68, 12, 0.205);
    border-radius: 5px;
    position: absolute;
}

.fim-de-jogo:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#reiniciar {
    font-size:20px ;
    font-weight: bolder;
    color: black;
    padding: 6px;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    border: none;
}

#reiniciar:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.grama1 {background-color: #acd754;}
.grama2 {background-color: #A4CF49;}
.terra1 {background-color: #e4c0a0;}
.terra2 {background-color: #d9b899}
.vermelho {background-color: red}

.pa {background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLUUUb4NnZE9FXXhFEBQPr5KK2vKWZpeuYzn0V9NLNi4fZ7Y-JXHKDAY2bMZluDRFDP7B4K2s6NciVhmtJxAwBoi8EkBXeL6-gbyLUlEJjqCIzpt6Sdw5-habjBU66oB99xHbX8r7K7VlUHP5W7S8RSExA=s512-no?authuser=0');}
.bandeira {background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLVIVa5QmaZ5nv-DqXg4ckRoVjTs5gJhXVviFFSPunwfvc5dJ-iZfTCc0KrxOTqagPPXw7iiZ8L6O_6PQsBRa5akTBIsQxjspMQtvBlkLntBRJswoo5fV-CQ9SXP86WlmhRXjknTquUWF_mYVPEiSVazEw=s512-no?authuser=0');}
.relogio {background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLVG-ovepIXySgwN-A5OSqiENTT-CG6Kv9kRE6Esy3WLK-HBsd84j05t5xYe1qb8sECLv85GI4J83Mcmo5n-Zc4lcTMG4qfe-g--vj9zUcWzvWCiaxfPZCNFePkMmErv2eO-ZnYKvPYdW7964QaL12R-9g=s512-no?authuser=0');}